In [1]:
import FinanceDataReader as fdr

StartDate = '2025-01-01'
EndDate = '2025-08-12'

KS11_df = fdr.DataReader('KS11', StartDate, EndDate)  # KOSPI 지수
KS11_df.head()

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2025-01-02,2400.87,2410.99,2386.84,2398.94,350691927,-0.0002,2,-0.55,6958648750080,1963454272081159
2025-01-03,2402.58,2454.67,2402.58,2441.92,407536387,0.0179,1,42.98,8230070287923,1998126924797077
2025-01-06,2453.30,2489.10,2446.82,2488.64,302760981,0.0191,1,46.72,8142307849602,2036394312458755
2025-01-07,2513.49,2521.86,2492.09,2492.10,407692929,0.0014,1,3.46,9405964049041,2038522932687508
2025-01-08,2481.25,2526.77,2481.25,2521.05,362908922,0.0116,1,28.95,10391057773317,2062626681696110

In [1]:
import os
os.environ.pop("MPLBACKEND", None)  # 환경변수 꼬임 방지 (옵션)

import matplotlib
matplotlib.use("TkAgg")   # 또는 "QtAgg" (PyQt5/PySide6 설치 필요)
import matplotlib.pyplot as plt

from datetime import date
import pandas as pd
from pykrx import stock

C:\Users\30211\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pykrx\__init__.py:4: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [28]:
Investor_df = stock.get_market_trading_value_by_date("20210115", "20210122", "005930")
print(Investor_df.head())

                    기관합계         기타법인            개인         외국인합계  전체
날짜
2021-01-15 -440769209300  25442287800  661609085600 -246282164100   0
2021-01-18   42323535000  22682344800   14829121700  -79835001500   0
2021-01-19   95523053500  -3250422500 -173484213300   81211582300   0
2021-01-20 -364476214000  22980632900  430115581000  -88619999900   0
2021-01-21  -60637506300 -27880854000  250285510000 -161767149700   0

In [29]:
Investor_df = stock.get_market_trading_value_by_date("20250101", "20250812", "005930", etf=True, etn=True, elw=True, detail=True)
Investor_df = Investor_df.drop(columns=["전체"])  # 전체 투자자 데이터는 제외])
Investor_df.head()

,금융투자,보험,투신,사모,은행,기타금융,연기금,기타법인,개인,외국인,기타외국인
날짜,,,,,,,,,,,
2025-01-02,-59446799700,-1671770500,-8895384000,4754355000,-22366600,6384000,-18233169700,55259576500,80049851500,-52123368500,322692000
2025-01-03,81817834700,1929597300,7114098000,6633267700,380824500,597530200,17935263500,53676707000,-204685038000,35365632200,-765717100
2025-01-06,-16806183800,13092956200,19444444500,11148739600,534431000,1767651000,23809215000,54320359300,-202252708700,95838746300,-897650400
2025-01-07,-76474850800,2123708700,14846961300,1620993000,159506800,1074023500,43326554500,58530694500,4122808500,-48900456500,-429943500
2025-01-08,-69313748800,6583189300,28720694800,5613180800,698597400,2392669600,48755897700,40694102400,-337491568500,275670553000,-2323567700

In [37]:
df = stock.get_market_trading_value_by_date("20250101", "20250812", "005930")
print(df.head())

                    기관합계         기타법인            개인         외국인합계  전체
날짜
2025-01-02  -83508751500  55259576500   80049851500  -51800676500   0
2025-01-03  116408415900  53676707000 -204685038000   34599915100   0
2025-01-06   52991253500  54320359300 -202252708700   94941095900   0
2025-01-07  -13323103000  58530694500    4122808500  -49330400000   0
2025-01-08   23450480800  40694102400 -337491568500  273346985300   0

In [26]:
OHLCV_df = stock.get_market_ohlcv("20250101", "20250812", "005930")
print(OHLCV_df.head(3))

               시가     고가     저가     종가       거래량       등락률
날짜
2025-01-02  52700  53600  52300  53400  16630538  0.375940
2025-01-03  52800  55100  52800  54400  19318046  1.872659
2025-01-06  54400  56200  54300  55900  19034284  2.757353

In [25]:
Fund_df = stock.get_market_fundamental("20250101", "20250812", "005930")
print(df.head(2))

              BPS    PER   PBR   EPS   DIV   DPS
날짜
2025-01-02  52002  25.06  1.03  2131  2.70  1444
2025-01-03  52002  25.53  1.05  2131  2.65  1444

In [16]:
import numpy as np
import pandas as pd
from dataclasses import dataclass

def _ensure_datetime_index(df: pd.DataFrame, date_col_candidates=("날짜","date","Date")) -> pd.DataFrame:
    """Make sure dataframe has a DatetimeIndex named 'date'."""
    if df is None or len(df)==0:
        return df
    dfc = df.copy()
    if isinstance(dfc.index, pd.DatetimeIndex):
        dfc.index.name = "date"
        return dfc.sort_index()
    for c in date_col_candidates:
        if c in dfc.columns:
            dfc[c] = pd.to_datetime(dfc[c])
            dfc = dfc.set_index(c)
            dfc.index.name = "date"
            return dfc.sort_index()
    # last resort: try to parse current index
    try:
        idx = pd.to_datetime(dfc.index)
        dfc.index = idx
        dfc.index.name = "date"
        return dfc.sort_index()
    except Exception:
        raise ValueError("No datetime index or date column found. Provide a date column named one of: %s" % (date_col_candidates,))
    
def _standardize_ohlcv(ohlcv: pd.DataFrame) -> pd.DataFrame:
    if ohlcv is None or len(ohlcv)==0:
        return ohlcv
    df = _ensure_datetime_index(ohlcv)
    rename_map = {
        "시가":"open", "고가":"high", "저가":"low", "종가":"close",
        "거래량":"volume", "거래대금":"value", "등락률":"chg_pct",
        "Open":"open","High":"high","Low":"low","Close":"close","Volume":"volume","Value":"value",
        "open":"open","high":"high","low":"low","close":"close","volume":"volume","value":"value"
    }
    df = df.rename(columns=rename_map)
    # keep common columns if exist
    keep = [c for c in ["open","high","low","close","volume","value","chg_pct"] if c in df.columns]
    df = df[keep]
    for c in df.columns:
        df[c] = pd.to_numeric(df[c], errors="coerce")
    return df

def _standardize_fundamental(fund_df: pd.DataFrame) -> pd.DataFrame:
    if fund_df is None or len(fund_df)==0:
        return fund_df
    df = _ensure_datetime_index(fund_df)
    rename_map = {
        "BPS":"bps","PER":"per","PBR":"pbr","EPS":"eps","DIV":"div","DPS":"dps",
        "bps":"bps","per":"per","pbr":"pbr","eps":"eps","div":"div","dps":"dps"
    }
    df = df.rename(columns=rename_map)
    keep = [c for c in ["per","pbr","div","bps","eps","dps"] if c in df.columns]
    df = df[keep]
    for c in df.columns:
        df[c] = pd.to_numeric(df[c], errors="coerce")
    # fundamentals are often sparse (monthly/quarterly) -> forward-fill
    df = df.sort_index().ffill()
    return df

In [19]:
_ensure_datetime_index(OHLCV_df, date_col_candidates=["날짜", "date", "Date"])
_standardize_ohlcv(OHLCV_df)
_standardize_fundamental(Fundament_df)

              per   pbr   div    bps   eps   dps
date
2025-01-02  25.06  1.03  2.70  52002  2131  1444
2025-01-03  25.53  1.05  2.65  52002  2131  1444
2025-01-06  26.23  1.07  2.58  52002  2131  1444
2025-01-07  26.00  1.07  2.61  52002  2131  1444
2025-01-08  26.89  1.10  2.52  52002  2131  1444
...           ...   ...   ...    ...   ...   ...
2025-08-06  13.90  1.19  2.10  57951  4950  1446
2025-08-07  14.24  1.22  2.05  57951  4950  1446
2025-08-08  14.51  1.24  2.01  57951  4950  1446
2025-08-11  14.34  1.23  2.04  57951  4950  1446
2025-08-12  14.36  1.23  2.03  57951  4950  1446

[149 rows x 6 columns]

In [32]:
def merge_sources(ohlcv: pd.DataFrame, investor: pd.DataFrame, fund: pd.DataFrame) -> pd.DataFrame:
    """Outer-join on date, then sort."""
    dfs = []
    if ohlcv is not None and len(ohlcv):
        dfs.append(ohlcv)
    if investor is not None and len(investor):
        dfs.append(investor)
    if fund is not None and len(fund):
        dfs.append(fund)
    if not dfs:
        raise ValueError("No input dataframes provided.")
    out = dfs[0]
    for d in dfs[1:]:
        out = out.join(d, how="outer")
    out = out.sort_index()

    return out

In [ ]:
merge_df = merge_sources(OHLCV_df, Investor_df, Fund_df)

,시가,고가,저가,종가,거래량,등락률,금융투자,보험,투신,사모,...,기타법인,개인,외국인,기타외국인,BPS,PER,PBR,EPS,DIV,DPS
날짜,,,,,,,,,,,,,,,,,,,,,
2025-01-02,52700,53600,52300,53400,16630538,0.375940,-59446799700,-1671770500,-8895384000,4754355000,...,55259576500,80049851500,-52123368500,322692000,52002,25.06,1.03,2131,2.70,1444
2025-01-03,52800,55100,52800,54400,19318046,1.872659,81817834700,1929597300,7114098000,6633267700,...,53676707000,-204685038000,35365632200,-765717100,52002,25.53,1.05,2131,2.65,1444
2025-01-06,54400,56200,54300,55900,19034284,2.757353,-16806183800,13092956200,19444444500,11148739600,...,54320359300,-202252708700,95838746300,-897650400,52002,26.23,1.07,2131,2.58,1444
2025-01-07,56800,57300,55400,55400,17030235,-0.894454,-76474850800,2123708700,14846961300,1620993000,...,58530694500,4122808500,-48900456500,-429943500,52002,26.00,1.07,2131,2.61,1444
2025-01-08,54800,57500,54700,57300,26593553,3.429603,-69313748800,6583189300,28720694800,5613180800,...,40694102400,-337491568500,275670553000,-2323567700,52002,26.89,1.10,2131,2.52,1444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-08-06,69200,69400,68300,68800,12542415,-1.573677,-5101387250,-11431794050,-29322345800,-9180905850,...,54417190700,52653060700,-41974733550,-12276600,57951,13.90,1.19,4950,2.10,1446
2025-08-07,70800,71000,69700,70500,15008213,2.470930,10093198600,424959800,-3441070450,25293445900,...,66991082600,-83145603850,-27210111900,-120618650,57951,14.24,1.22,4950,2.05,1446
2025-08-08,71000,72400,70700,71800,22241128,1.843972,55601664900,1008581900,-1411942950,3743500850,...,68511206700,-300633626850,165262092150,-92685200,57951,14.51,1.24,4950,2.01,1446
2025-08-11,72000,72100,70800,71000,11354253,-1.114206,-3168588800,-6061379700,-14640755700,-8887058900,...,65155871000,120110255750,-144473393700,110327450,57951,14.34,1.23,4950,2.04,1446
2025-08-12,71100,72400,71100,71100,15797656,0.140845,-26677313950,-1524080350,-1660845800,16050782050,...,67623136600,-79811860450,38455899650,-843314800,57951,14.36,1.23,4950,2.03,1446

In [39]:
from dataset_functions import add_targets, time_split, auto_feature_config, fit_scalers, apply_scalers, build_windows
from dataset_functions import MultiInputTSDataset, PipelineConfig, WindowConfig
import pandas as pd
from pathlib import Path
import os

Code = "005930"
out_dir = Path.cwd()
filepath = os.path.join(out_dir, f"{Code}_merged_data.csv")
merged = pd.read_csv(filepath, index_col=0, parse_dates=True)


with_target = add_targets(merged, horizon=1, target_kind="logr")

In [40]:
with_target.head()

,open,high,low,close,volume,chg_pct,inst_sum,inst_ext,retail,foreign,per,pbr,div,bps,eps,dps,target
date,,,,,,,,,,,,,,,,,
2025-01-02,52700,53600,52300,53400,16630538,0.375940,-83508751500,55259576500,80049851500,-51800676500,25.06,1.03,2.70,52002,2131,1444,0.018553
2025-01-03,52800,55100,52800,54400,19318046,1.872659,116408415900,53676707000,-204685038000,34599915100,25.53,1.05,2.65,52002,2131,1444,0.027200
2025-01-06,54400,56200,54300,55900,19034284,2.757353,52991253500,54320359300,-202252708700,94941095900,26.23,1.07,2.58,52002,2131,1444,-0.008985
2025-01-07,56800,57300,55400,55400,17030235,-0.894454,-13323103000,58530694500,4122808500,-49330400000,26.00,1.07,2.61,52002,2131,1444,0.033721
2025-01-08,54800,57500,54700,57300,26593553,3.429603,23450480800,40694102400,-337491568500,273346985300,26.89,1.10,2.52,52002,2131,1444,-0.021165

In [44]:
import os
from pathlib import Path
import math
import pandas as pd
import torch
import torch.nn as nn
from torch.utils.data import DataLoader

from dataset_functions import MultiInputTSDataset  # noqa: F401

# ---- 1) 데이터셋 로드 ----
Code = "005930"  # 파일명에 사용한 코드
dataset_path = Path("datasets") / f"{Code}_dataset.pkl"
payload = pd.read_pickle(dataset_path)   # {'train': ds_tr, 'val': ds_va, 'test': ds_te, 'meta': meta}

ds_tr = payload["train"]
ds_va = payload["val"]
ds_te = payload["test"]
meta  = payload["meta"]

print("meta:", meta)

meta: {'feature_config': {'price_cols': ['open', 'high', 'low', 'close', 'volume', 'chg_pct'], 'flow_cols': ['inst_sum', 'inst_ext', 'retail', 'foreign'], 'fund_cols': ['per', 'pbr', 'div', 'bps', 'eps', 'dps']}, 'scalers': 'StandardScaler per-branch (fit on train)', 'splits': {'train_ratio': 0.7, 'val_ratio': 0.15, 'test_ratio': 0.15}, 'window': {'lookback': 30, 'horizon': 1}, 'target_kind': 'logr', 'lengths': {'train': 74, 'val': 0, 'test': 0}}